.form-page {
    display: flex;
    background-image: url("../../../public/Animated\ Shape.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.side-bar {
    width: 600px;
    height: 1000px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

@media only screen and (max-width: 1200px) {
    .form-page {
        flex-direction: column;
    }

    .side-bar {
        width: 100%;
        height: 200px;
        z-index: -1;
    }
}
